:root {
  --cor-bg-primary: #A9C5BA 0% 0% no-repeat padding-box;
  --cor-text-primary: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'normal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
